// Colors
$bg-color-1: #222222;

// Calculate percentages
$bs-logo-percent-padding: percentage(296/629);
$bs-words-percent-padding: percentage(242/849);

// Create logo divs
@mixin logo-div($img, $pad) {
  background-image: url($img);
  background-size: 100%;
  background-position: center !important;
  background-repeat: no-repeat;
  padding-top: $pad;
  height: 0;
  width: 100%;
  max-width: 600px;
  margin-left: 10px;
  margin-right: 10px;
}
