body {
  background-color: $bg-color-1;
}

.logo1 {
  @include logo-div('../img/logo.png', $bs-logo-percent-padding);
  margin-top: 25px;
}

.logo2 {
  @include logo-div('../img/words.png', $bs-words-percent-padding);
}

.logorow {
  max-width: 600px;
}
